# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
ExampleCode/win32/Debug/IDL.Build.CppClean.log
README.md~
*.un~
*.cxx~
*.h~
ExampleCode/make/Makefile.common~
ExampleCode/win32/.vs/Automotive-vs2015/v14/.suo
ExampleCode/win32/Automotive-vs2015.VC.db
*.xml~
